extends ../layout/main
block variable
  -
    var title_page = 'Реалізований проект'
    var id_page = 'project-realized'
    var class_page = 'project-realized'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      //- {
      //-   label: 'новини та акції',
      //-   link: pagesLink[0].documents
      //- }
    ]
    var block1 = [
      'Найбільша прибудинкова територія у регіоні',
      'Рекреаційні зони для відпочинку, зустрічей та роботи на відкритому повітрі',
      'Зручна мережа велодоріжок навколо кварталу'
    ]
    var block2 = [
      'Зони для воркауту зі спеціальним резиновим покриттям',
      'Ефективна і зручна мережа велодоріжок, яка відділятиметься бордюрами від тротуарів і робитиме безпечним пересування на велосипеді',
      'Мережа широких прогулянкових алей навколо кварталу',
      'Мультиспортивний майданчик для різних ігор',
      'Великі цілорічні розвиваючі та ігрові простори для дітей різного віку',
      'Рекреаційні зони для занять спортом, йога-простір'
    ]
    var block3 = [
      'Повністю закрита територія з картковою системою доступу',
      'Цілодобова охорона та відеоспостереження',
      'Інноваційній системи пожежної безпеки',
      'Спеціально прорахованій відстані між будинками, які дають відчуття відкритого та вільного простору',
      'Сучасні вуличні меблі для відпочинку та роботи',
      'Спеціальним місцям для вигулу та дресирувань собак, які не будуть заважати мешканцям кварталу',
      'Дитячі та спортивні простори відкритого типу',
    ]
    var block4 = [
      'Дизайнерський інтер`єр та освітлення;',
      'Сучасна кімната матері та дитини;',
      'Зона догляду за домашніми тваринами з лапкомийками;',
      'Зручні меблі для відпочинку або очікування гостей;'
    ]
    var block5 = [
      'Цілодобовий консьєрж-сервіс;',
      'Вхід без сходів та пандусів, що дасть можливість легкого пересування мам з дитячими візками, літніх людей, та людей з обмеженими можливостями;',
      'Wi-fi та місця для заряду мобільних телефонів;',
      'Дизайнерські поштові скриньки.'
    ]
    var n = 4;
block meta
  //- title= 'Documents'
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/header-menu.js')
  script(defer src='./assets/scripts/social-btn.js')
  script(defer src='./assets/scripts/map.js')
  script(defer src='./assets/scripts/contacts.js')
  script(defer src='./assets/scripts/accordeon.js')
  script(defer src='./assets/scripts/select.js')
  script(defer src='./assets/scripts/project-realized.js')
  script(defer src='./assets/scripts/calculator-popup/calculator-popup.js')
block arrow 
  .social-select
    .select-container.js-social
      .select-img
      ul.social-list 
        li.social-item 
          a(href="tel:+380676938069").social-link
            +svg('tel')
        li.social-item 
          a(href="viber://chat?number=+380676938069" target="_blank").social-link
            +svg('viber')
        li.social-item 
          a(href="https://t.me/joinchat/AAAAAFW8NgjZAunQdxwMcg" target="_blank").social-link
            +svg('telegram')
        li.social-item 
          a(href="https://www.facebook.com/continent.ua/" target="_blank").social-link
            +svg('facebook')
        li.social-item 
          a(href="https://wa.me/380676938069" target="_blank").social-link
            +svg('whatsapp')
block content 
  .block-class
    section.realized-project.single-realized-project
      .swiper-wrapper
        .swiper-slide
          .realized-project__img 
            img(src="./assets/images/project1.jpg", alt="")
          .realized-project__content
            h1.realized-project__title Житловий Квартал Continent Ray
            p.realized-project__description Новий центр Бучі
            .realty(data-calculator-popup-call)
              +svg('calculator')
              span Kалькулятор вартості
        .swiper-slide
          .realized-project__img 
            img(src="./assets/images/project3.jpg", alt="")
          .realized-project__content
            h1.realized-project__title Комфорт Хаус 1
            p.realized-project__description Житловий комплекс, в основу назви якого не дарма взяте поняття комфорту.
            .realty(data-calculator-popup-call)
              +svg('calculator')
              span Kалькулятор вартості
        .swiper-slide
          .realized-project__img 
            img(src="./assets/images/project1.jpg", alt="")
          .realized-project__content
            h1.realized-project__title Комфорт Хаус 1
            p.realized-project__description Житловий комплекс, в основу назви якого не дарма взяте поняття комфорту.
            .realty(data-calculator-popup-call)
              +svg('calculator')
              span Kалькулятор вартості
    
      .swiper-navigation
        .swiper-button-prev
        .swiper-pagination
        .swiper-button-next

    .single-specification 
      ul.single-specification__benefits-list 
        li.single-specification__item 20 хв до Києва
        li.single-specification__item закрита територія з картковою системою доступу
        li.single-specification__item дитячий та спортивний майданчики
        li.single-specification__item до школи — 500 метрів
        li.single-specification__item дитячий садок — навпроти комплексу
      ul.single-specification__description-list
        li.single-specification__item
          +svg('floor')
          p Поверховість
          p 8 - 10 поверхів
        li.single-specification__item
          +svg('ceiling')
          p Стелі:
          p 2,97 - 3,6 м
        li.single-specification__item
          +svg('space')
          p Площі квартир:
          p 38 - 156 м²
        li.single-specification__item
          +svg('calendar')
          p Строк здачі:
          p III кв. 2021

    .single-section1 
      .single-section1__big
        p Це логічне продовження забудови Continent з ще більш вражаючими перевагами. У житловому кварталі Continent Ray втілена унікальна піраміда пріоритетів, де на першому місці комфорт і безпека жителів. 
        p Будуючи Continent Ray, ми хочемо створити локацію, якою наші мешканці будуть пишатися і запрошувати сюди своїх друзів. Локацію, де буде приємно проводити час просто так, і не важливо - вдома чи на вулиці, наодинці чи з родиною. Тут буде комфортно і гармонійно.
        .single-section1__img
          img(src="./assets/images/single1.jpg", alt="")
      .single-section1__small 
        .single-section1__img
          img(src="./assets/images/single2.jpg", alt="")
        ul 
          each v, i in block1
            li 
              .num= '0' + (i + 1)
              .text= v
    .single-section2
        .single-section2__img
          img(src="./assets/images/single3.jpg", alt="")
        .single-section2__text
          h1.our-projects__title Be healthy
          p У шаленому і швидкому ритмі сучасного міського життя  ми майже не маємо вільного часу для занять спортом та якісної підтримки здоров’я. Ми кожного ранку поспішаємо на роботу і запізнюємося на важливі зустрічі, а кожного вечора кажемо собі, що з понеділка точно йдемо спортзал. Але знову кудись треба йти, щоб пробігтися зручною доріжкою, пройтися затишною алеєю чи проїхати на велосипеді безпечною доріжкою.
          p Житловий квартал Continent Ray створюється за принципом Be healthy, в основі якого - підтримка здоров`я мешканців  поруч зі своїм житлом:
      
    .single-section3
      ul 
        each v, i in block2
          li 
            .num= '0' + (i + 1)
            .text= v
      .single-section3__img
        img(src="./assets/images/single4.jpg", alt="")

    .single-section4
      .single-section4__text
        h1.our-projects__title Двори для життя
        p А вулиці для автомобілів. Саме цієї концепції ми притримуємося під час створення житлового кварталу Continent RAY. 
        p Не думати, як обійти десятки припаркованих автомобілів, не хвилюватися за безпеку дітей, не бачити незнайомих зайвих перехожих, а кожного дня насолоджуватися тишею і спокоєм у внутрішньому дворі свого будинку завдяки:
      .single-section4__img
          img(src="./assets/images/single5.jpg", alt="")
      ul 
        each v, i in block3
          li 
            .num= '0' + (i + 1)
            .text= v

    .single-section2.single-section5
        .single-section2__img
          img(src="./assets/images/single2.jpg", alt="")
        .single-section2__text
          h1.our-projects__title Вхідні групи
          p Лобі — це повноцінний напівприватний простір для мешканців будинку. Тут має бути комфортно перебувати, зустрічатися, знайомитися і спілкуватися із сусідами. Для лобі важлива функціональність і тут має бути зручно як вдома, а може навіть трохи зручніше. Під час проектування лобі будинків житлового кварталу Continent RAY ми це врахували, і ось що отримають наші майбутні мешканці:
    
    .single-section3.single-section6 
      ul 
        each v, i in block4
          li 
            .num= '0' + (i + 1)
            .text= v
      .single-section3__img
        img(src="./assets/images/single1.jpg", alt="")
        ul 
          each v, i in block5
            li 
              .num= '0' + (i + (n + 1))
              .text= v
    section.layout.similar-apartment 
      .layout__title-container
        h1.our-projects__title Приклади планувань
        a(href='flats.html?complex=Continent-Ray').realty
          span Всі планування
          +svg('arrow')
        .swiper-btn
          .swiper-button-prev2
            +svg('swiper-prev')
          .swiper-button-next2
            +svg('swiper-next')
      .swiper-example.layout__list.similar-apartment-swiper 
        .swiper-wrapper
          .swiper-slide
            a(href="#").planing__link
              .planing__img 
                img(src='./assets/images/planing/planing1.jpg')
              .flat-planing-container
                .square 
                  +svg('space')
                  .square-description 
                    p.title Площа:
                    p.value 48 м²
                .square 
                  +svg('living_space')
                  .square-description 
                    p.title жила Площа:
                    p.value 36 м² 
                .square 
                  +svg('room')
                  .square-description 
                    p.title Кімнат:
                    p.value 1
          .swiper-slide
            a(href="#").planing__link
              .planing__img 
                img(src='./assets/images/planing/planing1.jpg')
              .flat-planing-container
                .square 
                  +svg('space')
                  .square-description 
                    p.title Площа:
                    p.value 48 м²
                .square 
                  +svg('living_space')
                  .square-description 
                    p.title жила Площа:
                    p.value 36 м² 
                .square 
                  +svg('room')
                  .square-description 
                    p.title Кімнат:
                    p.value 1
          .swiper-slide
            a(href="#").planing__link
              .planing__img 
                img(src='./assets/images/planing/planing1.jpg')
              .flat-planing-container
                .square 
                  +svg('space')
                  .square-description 
                    p.title Площа:
                    p.value 48 м²
                .square 
                  +svg('living_space')
                  .square-description 
                    p.title жила Площа:
                    p.value 36 м² 
                .square 
                  +svg('room')
                  .square-description 
                    p.title Кімнат:
                    p.value 1
          .swiper-slide 
            a(href="#").planing__link
              .planing__img 
                img(src='./assets/images/planing/planing1.jpg')
              .flat-planing-container
                .square 
                  +svg('space')
                  .square-description 
                    p.title Площа:
                    p.value 48 м²
                .square 
                  +svg('living_space')
                  .square-description 
                    p.title жила Площа:
                    p.value 36 м² 
                .square 
                  +svg('room')
                  .square-description 
                    p.title Кімнат:
                    p.value 1
    section.layout.layout-inf
      .layout__title-container
        h1.our-projects__title Розташування та інфраструктура
        .layout__container-text 
          p Коли люди живуть, працюють, вирішують свої потреби, відпочивають, комунікують один з одним, знаходячись в одному і тому ж місці і маючи поруч все необхідне для комфортного життя — це і є хороша інфраструктура. Житлові простори від Strakhovskyi Group — це той випадок, коли все необхідне навіть ближче, ніж просто поруч.
          a(href='infrastructure.html').realty
            span Дізнатись більше про інфраструктуру
            +svg('arrow')

    .project__map.map
      #map(width="500" height="500px")
      .infrastructure-map.map-wrapper__nav
        .map-wrapper__nav-mob-opener(data-mob-wrapper-mobile-opener="" data-opened-text="Згорнути інфраструктуру" data-closed-text="Розгорнути інфраструктуру")
          span Згорнути інфраструктуру
        .accordion.js-accordion.map-wrapper__nav
          .accordion-item.orange
            .accordion-toggle
              span Школи
            .accordion-panel
              .accordion-panel__item Школа №1
              .accordion-panel__item Школа №2
              .accordion-panel__item Школа №3
          .accordion-item.pear
            .accordion-toggle
              span Дитячий садок
            .accordion-panel
              .accordion-panel__item Дитячий садок №1
              .accordion-panel__item Дитячий садок №2
          .accordion-item.blue
            .accordion-toggle
              span Медицина
            .accordion-panel
              .accordion-panel__item Дитячий садок №1
              .accordion-panel__item Дитячий садок №2
          .accordion-item.violet
            .accordion-toggle
              span Торговий центр
            .accordion-panel
              .accordion-panel__item Дитячий садок №1
              .accordion-panel__item Дитячий садок №2
          .accordion-item.pink
            .accordion-toggle
              span Кафе/ресторани
            .accordion-panel
              .accordion-panel__item Дитячий садок №1
              .accordion-panel__item Дитячий садок №2
          .accordion-item.green
            .accordion-toggle
              span Місця для відпочинку
            .accordion-panel
              .accordion-panel__item Дитячий садок №1
              .accordion-panel__item Дитячий садок №2
          .accordion-item.red
            .accordion-toggle
              span Спорт та культура
            .accordion-panel
              .accordion-panel__item Дитячий садок №1
              .accordion-panel__item Дитячий садок №2

    section.about-group
      .group-logo
        +svg('logo-group')
      .about__container
        h1.our-projects__title Що варто знати про Strakhovskyi Group
        ul.about__list 
          li.about__item 
            .num 01
            .text Входимо у 
              span ТОП-3 девелоперів регіону
              | по кількості землі для будівництва житлової та комерційної нерухомості.
          li.about__item 
            .num 02
            .text Постійно вдосконалюємося, вивчаємо іноземний досвід у девелопменті і завжди на перше місце ставимо побажання майбутніх власників своєї нерухомості!
          li.about__item 
            .num 03
            .text Щороку входимо до 
              span ТОП-5 найкращих відділів продажу 
              | Києва та області. 
          li.about__item 
            .num 04
            .text Вже побудували і здали в експлуатацію 72 000 м² нерухомості

    section.our-philosophy 
      h5 Наша філософія
      h2 Творити культуру свідомого життя.

    section.contacts 
      .contacts__information
        h2.our-projects__title Відділ продажів Strakhovskyi Group  
        h4.contacts__adress м. Буча <br> пров. Олекси Тихого 4
        .contacts__tel-container 
          a(href='tel:+380503694892').contacts__tel-link
            span 050 369-48-92
          a(href='tel:+380676938069').contacts__tel-link
            span 067 693-80-69
        ul.schedule
          li.schedule__link
            .schedule__label Пн-Cб:
            .schedule__value з 9:00 до 18:00
          li.schedule__link
            .schedule__label Нд:
            .schedule__value з 11:00 до 17:00
        a(href='mailto:office@continent.ua').contacts-mail office@continent.ua
        button(type='button').nav__call-btn.contacts__call-btn.js-call
          +svg('phone')
          span.nav__call-btn-text Замовити дзвінок
      .contacts__map.map
        #map(width="500" height="500px")
        button(type='button').nav__call-btn.contacts__call-btn.map-btn.js-open-map
          +svg('map')
          span.nav__call-btn-text Як до нас дістатися
        .map-address
          .map-address__container
            +svg('close-select').close-map.js-close-map
            h4 Як до нас дістатися з Києва
            p Варшавскою трасою 
            p Новою трасою через Ірпінь
            p Житомирською трасою через Забуччя
            ul.navigation-servise
              li.navigation-servise__item 
                a(href="#").navigation-servise__link 
                  +svg('map')
                  span Google maps
              li.navigation-servise__item 
                a(href="#").navigation-servise__link 
                  +svg('waze')
                  span Waze
            p Громадським транспортом
            ul.public-transport 
              li.public-transport__link 
                .location Академмістечко - Буча
                .transport № 381, 422
              li.public-transport__link 
                .location Ірпінь - Буча
                .transport № 352
              li.public-transport__link 
                .location Героїв Дніпра - Буча
                .transport № 421
              li.public-transport__link 
                .location Святошин - Лісова Буча
                .transport № 352
            .trains 
              .location Електрички
              .transport Святошин – Буча, Київ-пас. – Буча
              .trains-btn 
                a(href="#").navigation-servise__link 
                  +svg('timetable')
                  span Розклад електричок

      
    include ../includes/sing-up.pug



block header
  include ../includes/header.pug
  
block footer
  include ../includes/footer.pug



